/** Title **/
h1#title {
    text-align: center;
}

.title {
    font-size: 20px;
    text-align: center;
}

#content .gwt-Label {
    padding: 5px;
}

/** Btn Disconect **/
#disconnect button {
    position: absolute;
    right: 10px;
    top: 10px;
}

/** Alert **/
.alert {
    border: 1px solid;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 15px;
}

.alert .alertMsg {
    display: inline-block;
    font-weight: bold;
    width: 90%;
}

.alert .closeAlert {
    color: #888888;
    float: right;
    font-size: 15px;
    font-weight: bold;
    line-height: 12px;
    text-decoration: none;
}

.success {
	background-color: #dff0d8;
	color: #3c763d;
}

.warning {
	background-color: #fcf8e3;
	color: #8a6d3b;
}

.danger {
	background-color: #f2dede;
	color: #a94442;
}

section {
    min-height: 423px;
}

footer {
    background-color: #ccc;
    bottom: 0;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 132px;
}
footer p {
  font-style: italic;
}

footer p:first-child {
  font-weight: bold;
}

footer a {
  margin-left: 15px;
  margin-right: 15px;
}

footer a img {
  width: 65px;
}

.gwt-TextBox,
.gwt-ListBox,
.gwt-TextArea,
.gwt-PasswordTextBox {
    width: 99%;
	background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    line-height: 24px;
}
   
/** Main page **/
.gwt-TabBarFirst-wrapper {
    display:none;
}
.gwt-TabBarItem-wrapper {
    width: 25%;
}

.gwt-TabPanel {
    padding: 20px;
    width: 100%;
}

.gwt-Button {
    background: #fff !important;
    border: 1px #000 solid !important;
    border-radius: 4px;
    min-width: 30px;
}

.gwt-Button:hover {
    background: #ccc !important;
}

.div-group {
	display: inline-block;
}

.btn-group-vertical {
	float:right;
}

.btn-group-vertical > .gwt-Button {
	display: block;
}

.btn-group-vertical > .gwt-Button:first-child:not(:last-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-group-vertical > .gwt-Button:last-child:not(:first-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.btn-group > .gwt-Button:first-child:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-group > .gwt-Button:last-child:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.gwt-listTextBox-element {
    display: inline-block;
    width: 100%;
}

.listElement {
    padding: 15px;
    min-height: 80px;
    margin: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.listElement .gwt-Label {
	margin: 2px;
}

.listElement .gwt-CheckBox {
	margin: 4px;
}

/** Search for trip and old trip **/
.searchHeader {
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
}

.searchHeader input {
    margin-left: 5px;
    margin-right: 5px;
    width: 170px;
}

.searchHeader > div:not(:last-child) {
    float: left;
}
.searchHeader > div > div {
    float: left;
    line-height: 20px;
    padding: 5px;
    vertical-align: middle;
}

/** Form Page **/
form {
    padding: 15px;
}

form > table {
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    width: 100%;
}

form .gwt-listTextBox-element > input {
    float: left;
    width: 94%;
}
form > table > tbody > tr:last-child > td {
	padding-top: 24px;
    float: right;
}